.contacto_container {
    height: 95vh;
    width: 100%;
    position: relative;
}

.edificios {
    width: 100%;
    opacity: 15%;
    position: absolute; /* Posiciona la imagen */
    bottom: 0; /* La imagen queda pegada al fondo del contenedor */
    left: 0;
    z-index: -1;
}