.footer {
  background-color: #000; /* Fondo negro */
  color: #0b9451;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #0b9451;
  height: 5vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.container {
  max-width: 1200px;
}

.text {
  margin: 0;
  font-size: 0.875rem;
  color: white
}

.link, .contact {
  color: #f1f1f1; /* Color de los enlaces */
  text-decoration: none;
  margin: 0 0.5rem;
}

.link:hover, .contact:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
.footer {
  height: 8vh;
}
}