.navbar {
  background-color: rgb(25, 25, 25);
  height: 7vh;
  width: 100%;
  border-bottom: 5px solid #0b9451;
  position: fixed;
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 5vh;
}

.link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 600;
}

.link:hover {
  color: #0b9451;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
  text-decoration: none;
}
