.navbar {
  background-color: rgb(25, 25, 25);
  height: 7vh;
  width: 100%;
  border-bottom: 1px solid #0b9451;
  position: fixed;
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 5vh;
}

li {
  color: white;
}

ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.3rem;
}
