.novedades_container {
    height: 95vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edificios {
    width: 100%;
    opacity: 10%;
    position: absolute; /* Posiciona la imagen */
    bottom: 0; /* La imagen queda pegada al fondo del contenedor */
    left: 0;
    z-index: -1;
}

.novedades {
    /* background-color: red; */
    height: 80vh;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

.novedades2 {
    /* background-color: red; */
    height: 80vh;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.afip {
    height: 5vh;
}

.p {
    color: black;
    font-weight: 400;
}